*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --duration: 0.33s;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: overpass;
    src: url("../assets/fonts/overpass/Overpass-VariableFont_wght.ttf");
    font-weight: 100 1000;
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: overpass;
    src: url("../assets/fonts/overpass/static/Overpass-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: overpass;
    src: url("../assets/fonts/overpass/static/Overpass-Bold.ttf");
    font-weight: 700;
  }
}

.fs-title,
.fs-body,
.fs-label,
.fs-action {
  font-family: overpass;
}

.fs-title,
.fs-label,
.fs-action {
  font-weight: 700;
}

.fs-body,
.fs-action {
  font-size: 15px;
}

.fs-title {
  font-size: 28px;

  @media screen and (max-width: 450px) {
    font-size: 24px;
  }
}

.fs-body {
  font-weight: 400;
  line-height: 24px;

  @media screen and (max-width: 450px) {
    font-size: 14px;
    line-height: 22px;
  }
}

.fs-label {
  font-size: 16px;
  line-height: 24px;

  @media screen and (max-width: 450px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.fs-action {
  letter-spacing: 2px;

  @media screen and (max-width: 450px) {
    font-size: 14px;
    letter-spacing: 1.85px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.anime-from-above {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-50vh);
  animation: from-above-anime calc(var(--duration) / 5) forwards;

  @keyframes from-above-anime {
    from {
      opacity: 0;
      filter: blur(5px);
      transform: translateY(-50vh);
    }

    to {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
}

.anime-expand {
  transform: scale(0.1, 0.1);
  animation: expand-x-anime var(--duration) forwards,
    var(--duration) expand-y-anime var(--duration) forwards;

  @keyframes expand-x-anime {
    from {
      transform: scale(0.1, 0.1);
    }

    to {
      transform: scale(1, 0.1);
    }
  }

  @keyframes expand-y-anime {
    from {
      transform: scale(1, 0.1);
    }

    to {
      transform: scale(1, 1);
    }
  }
}
